$blue-1: #0071e2;
$green-1: #006822;
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  gap: 10px;
  min-height: 100vh;
  justify-content: center !important;
  padding: 10px 5px;
  width: 100%;
  .container__card {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    .titulo {
      padding: 4px;
    }
  }
}

.cards .flip-card {
  background-color: transparent;
  width: 320px;
  height: 300px;
  border: solid 1px #ccc;
  perspective: 1000px;
  border-radius: 4px;
}

.cards .flip-card .flip-card-inner {
  width: 100%;
  height: 100%;
  text-align: center;
  transition: all 1s ease-in-out;
  transform-style: preserve-3d;
}

.cards .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.cards .flip-card .flip-card-front,
.cards .flip-card .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.cards .flip-card .flip-card-front {
  background-color: #bbb;
  color: black;
}

.cards .flip-card .flip-card-back {
  transform: rotateY(180deg);
  width: 320px;
  height: 300px;
  position: relative;
  background: white;
  #img {
    background-repeat: no-repeat;
    object-fit: cover !important;
    background-size: cover;
    height: 100%;
    width: 100%;
    filter: blur(2px);
  }

  .container-texto {
    position: absolute;
    top: 0;
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
    padding: 5px;
    box-sizing: border-box;
    border: solid 1px #ccc;
    width: 320px;
    height: 300px;
    .container-tecnology {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      justify-content: end;
      text-align: end;
    }
    h5 {
      background: #c8e9fb;
      color: #136b9e;
      padding: 4px;
      border-radius: 3px;
      text-transform: uppercase;
    }
    p {
      font-weight: 300;
      font-size: medium;
    }
    .icons {
      display: flex;
      justify-content: space-around;
      a {
        text-decoration: none;
        color: $blue-1;
      }

      .icon {
        font-size: 35px;
        margin: 2px 25px;
        cursor: pointer;
      }

      .icon:hover {
        transform: scale(1.3);
        transition: all 0.2s ease-in-out;
      }
    }
  }
}

.cards .flip-card .flip-card-inner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  /* filter: blur(4px);
 */
}
