@use "variablesGlobals" as v;

@media screen and (max-width: 600px) {

  .container_inicio{

    .container-about{
      min-height: 0px !important;
    }
   display: flex;
   flex-direction: column;
  .header {
    min-height: auto;
    padding: 0;
    
    .header-content {
     display: flex !important;
      padding-bottom: 0 !important;
      flex-direction: column;
      min-height: 0px !important;

    }
    .left-header {
     padding-top: 15px;
      .image{
        height: 200px;
        width: 100%;
        background-color: transparent !important;
        transition: all 0.4s ease-in-out;
        z-index: 4;
        display: flex;
        align-items: end;
        justify-content: center;
        margin-bottom: 1.5rem;
        .h-shape{
          background-color: transparent !important;
        }
     
        img{
          width: 200px;
height: 200px;
border-radius: 50%;
        }
      }
    }
    .right-header {
      grid-row: 1;
      padding:10px !important;
      width: 100%;
      margin: 0 auto;

      .name {
        text-align: center;
        padding-top: 3rem;
      }
      
    }
    .header-content .left-header .image {
      margin: 0 auto;
      width: 90%;
    }
  }
}
  /* footer  */

  .medio__footer {
    flex-direction: column;
    padding: 20px;
    gap: 25px;
  }

  .enlaces {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;

    div {
      display: flex;
      gap: 10px;
    }
  }

  /* blog */

  .container__blog {
    .blogs {
      margin: 70px 0px !important;
    }
    padding: 30px 10px !important;
  }
  /* blog buscador */
  .blog__buscador {
    flex-direction: column;
  }

  .container-recomendaciones {
    .container-list-recomendaciones {
      flex-direction: column;
    }
  }
  .container_detalle {
    .container_detalle_contenido {
      flex-direction: column;
    }
  }

  .carrusel-items {
    padding: 30px 20px !important;
    justify-content: center;
  }

  .container_detalle .container_detalle_contenido {
    width: 90% !important;
  }

  .right-header {
    .title-name {
      font-size: 1.5rem !important;
    }
    .name {
      font-size: 2rem !important;

    }
  }

  .container__portafolio {
    padding: 0 5px;
  }
}
@media screen and (max-width: 800px) {
  .container__carrucel{
    padding-top: 20px;
    .carrusel-items {
      padding: 30px 100px;
      justify-content: center;
    }
  } 

  .navbar.dark {
    .navbar__menu.active {
      background: v.$background-dark !important;
    }
  }

}
@media screen and (max-width: 930px) {
  .navbar.dark {
    .navbar__menu.active {
      background: v.$background-dark !important;
    }
  }
  .right-header {
    padding-right: 2rem !important;
  }
}
